    <h2>To do list:</h2>
    <table class ="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
    <ng-container *ngFor="let myitem of todolist">
        <tr>
            <td>{{myitem.task}}</td>
            <td *ngIf="myitem.completed; else dothis"></td>
                <ng-template #dothis>
                    <button (click)="completeTask(myitem)">Complete</button>
                </ng-template>
                <td><button (click)="DeleteTask(myitem)">Delete</button></td>
        </tr>
    </ng-container> 
    <input type="text" [(ngModel)]="newtask"/>
    <button (click)="addTask()">Create Task</button>
</tbody>
</table>
